:root {
  --font-family: "Archivo", sans-serif;
  --font-size: 16px;

  --step--2: clamp(0.87rem, calc(0.83rem + 0.17vw), 0.96rem);
  --step--1: clamp(1.04rem, calc(0.98rem + 0.29vw), 1.2rem);
  --step-0: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.5rem);
  --step-1: clamp(1.5rem, calc(1.36rem + 0.68vw), 1.88rem);
  --step-2: clamp(1.8rem, calc(1.6rem + 0.99vw), 2.34rem);
  --step-3: clamp(2.16rem, calc(1.88rem + 1.4vw), 2.93rem);
  --step-4: clamp(2.59rem, calc(2.2rem + 1.95vw), 3.66rem);
  --step-5: clamp(3.11rem, calc(2.58rem + 2.67vw), 4.58rem);
  --principal-color: black;
  --border-color: #d5d5d5;
}

/* Reset */
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
/* Components */
/* Utilities */
/* Site Style */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(220.55deg, #8a88fb 0%, #d079ee 100%);
}
.container {
  width: 500px;
  border-radius: 20px;
  background-color: white;
  font-size: var(--step--1);
}
.container h1 {
  padding: 1em 1.175em;
  font-weight: 400;
  font-size: var(--step-1);
  border-bottom: thin solid var(--border-color);
}
.wrapper {
  margin: 1.25em 1.75em;
}
.input-box {
  position: relative;
}
.input-box input {
  width: 100%;
  height: 7vh;
  padding: 0 2.85em 0 1em;
  color: var(--principal-color);
  font-size: var(--step---2);
  font-weight: 100;
  letter-spacing: 1.5px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.msg-copied {
  text-align: right;
  margin: 0.5em 1.5em 0.5em 0;
  color: green;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.input-box span {
  position: absolute;
  right: 5px;
  top: 18px;
}
.copy-icon {
  fill: #777676;
}
.copy-icon:hover {
  cursor: pointer;
  fill: darkorange;
}
.msg-copied.active {
  height: auto;
  display: block;
}
.pass-indicator {
  position: relative;
  width: 100%;
  height: 0.4vh;
  margin-top: 0.75em;
  border-radius: 25px;
  background-color: var(--border-color);
}
.pass-indicator::before {
  position: absolute;
  height: 100%;
  width: 0%;
  border-radius: inherit;
  content: "";
  transition: width 1s ease-in-out;
}
.pass-indicator#weak::before {
  width: 25%;
  background-color: orangered;
}
.pass-indicator#medium::before {
  width: 50%;
  background-color: #f4f402;
}
.pass-indicator#strong::before {
  width: 100%;
  background-color: green;
}

.pass-length {
  margin: 1.56em 0 1.25em;
}
.details {
  display: flex;
  justify-content: space-between;
}
.pass-length input {
  width: 100%;
  height: 0.6vh;
}
.options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.option {
  width: calc(100% / 2);
  margin-bottom: 1em;
}
.option:first-child {
  pointer-events: none;
}
.option:first-child input {
  opacity: 0.5;
}
.option input {
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.option label {
  cursor: pointer;
  padding-left: 0.5em;
}
.generate-btn {
  width: 100%;
  height: 4em;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: var(--step---2);
  color: white;
  border: none;
  background-color: #8684ff;
  cursor: pointer;
}
.generate-btn:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 4px #888888;
}
.generate-btn:active {
  transform: scale(1);
  background-color: #4946ff;
  box-shadow: 4px 4px 4px transparent;
}
