/* Variables */
/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
/* Components */
/* Utilities */
/* Style site */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: teal;
}
.a-container {
  min-width: 500px;
  height: 270px;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: hidden;
  transition: height 0.5s ease-out;
}
.b-contariner-info {
  padding: 1em 0;
}
.b-title-header {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.b-description-text {
  font-size: 1.1em;
  color: gray;
  margin-bottom: 0.5em;
}
.b-input-text {
  width: 95%;
  font-size: 1.2em;
  padding: 0.8em;
  background-color: rgb(245, 245, 245);
  outline: none;
  border: none;
  border-bottom: thin solid #80808080;
  border-radius: 10px;
}
.b-contariner-footer {
  text-align: center;
  margin-bottom: 4em;
}
.b-contariner-footer button {
  width: 80%;
  height: 50px;
  font-size: 1.3em;
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease-in-out;
}
.b-contariner-footer button:hover {
  color: #f0f0f0;
  background-color: teal;
}
.b-contariner-footer button:active {
  color: black;
  background-color: #f0f0f0;
}
.c-container-image-qr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.c-container-image-qr:hover {
  opacity: 0.6;
}
.c-description-dowload {
  margin-top: 1em;
  font-size: 1.5em;
  font-style: italic;
}
.a-container.active {
  height: 600px;
}
